<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Name</title>
</head>
<body>
<!--RequestParam: user-->
<div>Logged in as <span th:text="${user}"/></div>

<div>My list:</div>
<!--RequestParam: Lista med länkar, skulle senare kunna börja med sida med bara rader av listor-->
<ul>
    <li th:each="link:${linkList}">
        <span th:text="${link.linkName}"/>
        <p><span th:text="${link.description}"/></p>
        <iframe width="640" height="360" th:src="'https://www.youtube.com/embed/' + ${link.url}"></iframe>
    </li>
</ul>
<div>
    <h5> Add new link: </h5>
    <div> Fill in the details below and click "Add Link"</div>
    <form action="/addLink" method="POST">
        <div> <input placeholder="YouTubeUrl" name="url"/> </div>
        <div> <input placeholder="Name" name="linkName"/> </div>
        <div> <input placeholder="Description" name="description"/> </div>
       <div> <input type="checkbox" name="favorite" value="true"/>Make favorite </div>
        <input type="hidden" name="favorite" value="false"/>
        <div> <input type="submit" value="Add link"/></div>
    </form>
</div>
</body>
</html>