<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your library</title>
</head>
<body>
<!--RequestParam: user-->
<div>Logged in as <span th:text="${user.username}"/></div>
<div>
    <form action="search" method="POST">
        <input placeholder="Search for user" name="username"/>
        <input type="submit" value="Search"/>
    </form>
</div>
<div th:text="${searchMessage}"></div>
<div>My list:</div>
<!--RequestParam: Lista med linklistor-->
<ul>
    <li th:each="list:${lists}">
        <p><a th:href="'/lists/' + ${list.listID}" th:text="${list.name}"/></p>
    </li>
</ul>
<div> <a href="./createList"> Create new list</a></div>
</body>
</html>