<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <title>Create new list </title>
</head>
<body>
<div>
    <img  class="small-logo" src="/Logo.PNG"/>
</div>
<div>Logged in as <span th:text="${user.username}"/></div>
<div><a href="/lists">Back</a></div>
<h1>
    Create new list
</h1>

<form action="/createList" method="POST">
    <div>Enter a name for your new list: <input placeholder="Name..." name="listName" /></div>
    <div> Enter a description of your new list (optional):  <input placeholder= "Description..." name="description"/></div>
    <div><input type="submit" value="Create"/></div>
</form>
</body>
</html>